<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gred.easy_car.web.mapper.CarMapper" >
  <resultMap id="BaseResultMap" type="com.gred.easy_car.web.entity.CarEntity" >
    <id column="car_id" property="carId" jdbcType="VARCHAR" />
    <result column="car_owner_id" property="carOwnerId" jdbcType="VARCHAR" />
    <result column="car_owner_mobile" property="carOwnerMobile" jdbcType="VARCHAR" />
    <result column="car_brand" property="carBrand" jdbcType="VARCHAR" />
    <result column="car_brand_type" property="carBrandType" jdbcType="VARCHAR" />
    <result column="car_plate_number" property="carPlateNumber" jdbcType="VARCHAR" />
    <result column="car_travelled_distance" property="carTravelledDistance" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    car_id, car_owner_id, car_owner_mobile, car_brand, car_brand_type, car_plate_number, 
    car_travelled_distance
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ezc_car
    where car_id = #{carId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ezc_car
    where car_id = #{carId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gred.easy_car.web.entity.CarEntity" >
    insert into ezc_car (car_id, car_owner_id, car_owner_mobile, 
      car_brand, car_brand_type, car_plate_number, 
      car_travelled_distance)
    values (#{carId,jdbcType=VARCHAR}, #{carOwnerId,jdbcType=VARCHAR}, #{carOwnerMobile,jdbcType=VARCHAR}, 
      #{carBrand,jdbcType=VARCHAR}, #{carBrandType,jdbcType=VARCHAR}, #{carPlateNumber,jdbcType=VARCHAR}, 
      #{carTravelledDistance,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gred.easy_car.web.entity.CarEntity" >
    insert into ezc_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carId != null" >
        car_id,
      </if>
      <if test="carOwnerId != null" >
        car_owner_id,
      </if>
      <if test="carOwnerMobile != null" >
        car_owner_mobile,
      </if>
      <if test="carBrand != null" >
        car_brand,
      </if>
      <if test="carBrandType != null" >
        car_brand_type,
      </if>
      <if test="carPlateNumber != null" >
        car_plate_number,
      </if>
      <if test="carTravelledDistance != null" >
        car_travelled_distance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carId != null" >
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="carOwnerId != null" >
        #{carOwnerId,jdbcType=VARCHAR},
      </if>
      <if test="carOwnerMobile != null" >
        #{carOwnerMobile,jdbcType=VARCHAR},
      </if>
      <if test="carBrand != null" >
        #{carBrand,jdbcType=VARCHAR},
      </if>
      <if test="carBrandType != null" >
        #{carBrandType,jdbcType=VARCHAR},
      </if>
      <if test="carPlateNumber != null" >
        #{carPlateNumber,jdbcType=VARCHAR},
      </if>
      <if test="carTravelledDistance != null" >
        #{carTravelledDistance,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gred.easy_car.web.entity.CarEntity" >
    update ezc_car
    <set >
      <if test="carOwnerId != null" >
        car_owner_id = #{carOwnerId,jdbcType=VARCHAR},
      </if>
      <if test="carOwnerMobile != null" >
        car_owner_mobile = #{carOwnerMobile,jdbcType=VARCHAR},
      </if>
      <if test="carBrand != null" >
        car_brand = #{carBrand,jdbcType=VARCHAR},
      </if>
      <if test="carBrandType != null" >
        car_brand_type = #{carBrandType,jdbcType=VARCHAR},
      </if>
      <if test="carPlateNumber != null" >
        car_plate_number = #{carPlateNumber,jdbcType=VARCHAR},
      </if>
      <if test="carTravelledDistance != null" >
        car_travelled_distance = #{carTravelledDistance,jdbcType=VARCHAR},
      </if>
    </set>
    where car_id = #{carId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gred.easy_car.web.entity.CarEntity" >
    update ezc_car
    set car_owner_id = #{carOwnerId,jdbcType=VARCHAR},
      car_owner_mobile = #{carOwnerMobile,jdbcType=VARCHAR},
      car_brand = #{carBrand,jdbcType=VARCHAR},
      car_brand_type = #{carBrandType,jdbcType=VARCHAR},
      car_plate_number = #{carPlateNumber,jdbcType=VARCHAR},
      car_travelled_distance = #{carTravelledDistance,jdbcType=VARCHAR}
    where car_id = #{carId,jdbcType=VARCHAR}
  </update>
</mapper>