<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.dao.CarBrandTypeMapper" >
  <resultMap id="BaseResultMap" type="test.model.CarBrandType" >
    <result column="car_brand_type_id" property="carBrandTypeId" jdbcType="INTEGER" />
    <result column="car_first_letter" property="carFirstLetter" jdbcType="VARCHAR" />
    <result column="car_brand_name" property="carBrandName" jdbcType="VARCHAR" />
    <result column="car_model_series" property="carModelSeries" jdbcType="VARCHAR" />
    <result column="car_model_name" property="carModelName" jdbcType="VARCHAR" />
    <result column="car_type_series" property="carTypeSeries" jdbcType="VARCHAR" />
    <result column="car_type_name" property="carTypeName" jdbcType="VARCHAR" />
    <result column="car_made_country" property="carMadeCountry" jdbcType="VARCHAR" />
    <result column="car_technology" property="carTechnology" jdbcType="VARCHAR" />
    <result column="car_vehicle_class" property="carVehicleClass" jdbcType="VARCHAR" />
    <result column="car_engine_capacity" property="carEngineCapacity" jdbcType="VARCHAR" />
    <result column="car_transmission" property="carTransmission" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="test.model.CarBrandType" >
    insert into ezc_car_brand_type (car_brand_type_id, car_first_letter, car_brand_name, 
      car_model_series, car_model_name, car_type_series, 
      car_type_name, car_made_country, car_technology, 
      car_vehicle_class, car_engine_capacity, car_transmission
      )
    values (#{carBrandTypeId,jdbcType=INTEGER}, #{carFirstLetter,jdbcType=VARCHAR}, #{carBrandName,jdbcType=VARCHAR}, 
      #{carModelSeries,jdbcType=VARCHAR}, #{carModelName,jdbcType=VARCHAR}, #{carTypeSeries,jdbcType=VARCHAR}, 
      #{carTypeName,jdbcType=VARCHAR}, #{carMadeCountry,jdbcType=VARCHAR}, #{carTechnology,jdbcType=VARCHAR}, 
      #{carVehicleClass,jdbcType=VARCHAR}, #{carEngineCapacity,jdbcType=VARCHAR}, #{carTransmission,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="test.model.CarBrandType" >
    insert into ezc_car_brand_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carBrandTypeId != null" >
        car_brand_type_id,
      </if>
      <if test="carFirstLetter != null" >
        car_first_letter,
      </if>
      <if test="carBrandName != null" >
        car_brand_name,
      </if>
      <if test="carModelSeries != null" >
        car_model_series,
      </if>
      <if test="carModelName != null" >
        car_model_name,
      </if>
      <if test="carTypeSeries != null" >
        car_type_series,
      </if>
      <if test="carTypeName != null" >
        car_type_name,
      </if>
      <if test="carMadeCountry != null" >
        car_made_country,
      </if>
      <if test="carTechnology != null" >
        car_technology,
      </if>
      <if test="carVehicleClass != null" >
        car_vehicle_class,
      </if>
      <if test="carEngineCapacity != null" >
        car_engine_capacity,
      </if>
      <if test="carTransmission != null" >
        car_transmission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carBrandTypeId != null" >
        #{carBrandTypeId,jdbcType=INTEGER},
      </if>
      <if test="carFirstLetter != null" >
        #{carFirstLetter,jdbcType=VARCHAR},
      </if>
      <if test="carBrandName != null" >
        #{carBrandName,jdbcType=VARCHAR},
      </if>
      <if test="carModelSeries != null" >
        #{carModelSeries,jdbcType=VARCHAR},
      </if>
      <if test="carModelName != null" >
        #{carModelName,jdbcType=VARCHAR},
      </if>
      <if test="carTypeSeries != null" >
        #{carTypeSeries,jdbcType=VARCHAR},
      </if>
      <if test="carTypeName != null" >
        #{carTypeName,jdbcType=VARCHAR},
      </if>
      <if test="carMadeCountry != null" >
        #{carMadeCountry,jdbcType=VARCHAR},
      </if>
      <if test="carTechnology != null" >
        #{carTechnology,jdbcType=VARCHAR},
      </if>
      <if test="carVehicleClass != null" >
        #{carVehicleClass,jdbcType=VARCHAR},
      </if>
      <if test="carEngineCapacity != null" >
        #{carEngineCapacity,jdbcType=VARCHAR},
      </if>
      <if test="carTransmission != null" >
        #{carTransmission,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>