<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gred.easy_car.web.mapper.CouponDiscountCarOwnerMapper" >
  <resultMap id="BaseResultMap" type="com.gred.easy_car.web.entity.CouponDiscountCarOwner" >
    <id column="coupon_id" property="couponId" jdbcType="VARCHAR" />
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.gred.easy_car.web.entity.CouponDiscountCarOwner" >
    delete from coupon_discount_car_owner
    where coupon_id = #{couponId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gred.easy_car.web.entity.CouponDiscountCarOwner" >
    insert into coupon_discount_car_owner (coupon_id, user_id)
    values (#{couponId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gred.easy_car.web.entity.CouponDiscountCarOwner" >
    insert into coupon_discount_car_owner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>