<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gred.easy_car.web.mapper.CarBrandMapper" >
  <resultMap id="BaseResultMap" type="com.gred.easy_car.web.entity.CarBrand" >
  	<result column="car_brand_first_letter" property="carBrandFirstLetter" jdbcType="VARCHAR" />
    <result column="car_brand_name" property="carBrandName" jdbcType="VARCHAR" />
    <result column="car_brand_icon_pic_name" property="carBrandIconPicName" jdbcType="VARCHAR" />
    
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gred.easy_car.web.entity.CarBrand" extends="BaseResultMap" >
    <result column="car_brand_icon" property="carBrandIcon" jdbcType="LONGVARBINARY" />
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBsAndBrandTypes" type="com.gred.easy_car.web.entity.CarBrand" extends="BaseResultMap" >
    <result column="car_brand_icon" property="carBrandIcon" jdbcType="LONGVARBINARY" />
    <collection property="carBrandTypeList"   resultMap="CarBrandTypeResultMap"/>
  </resultMap>
  
  
  <resultMap id="CarBrandTypeResultMap" type="com.gred.easy_car.web.entity.CarBrandType" >
    <result column="car_brand_type_id" property="carBrandTypeId" jdbcType="INTEGER" />
    <result column="car_first_letter" property="carFirstLetter" jdbcType="VARCHAR" />
    <result column="car_brand_name" property="carBrandName" jdbcType="VARCHAR" />
    <result column="car_model_series" property="carModelSeries" jdbcType="VARCHAR" />
    <result column="car_model_name" property="carModelName" jdbcType="VARCHAR" />
    <result column="car_type_series" property="carTypeSeries" jdbcType="VARCHAR" />
    <result column="car_type_name" property="carTypeName" jdbcType="VARCHAR" />
    <result column="car_made_country" property="carMadeCountry" jdbcType="VARCHAR" />
    <result column="car_technology" property="carTechnology" jdbcType="VARCHAR" />
    <result column="car_vehicle_class" property="carVehicleClass" jdbcType="VARCHAR" />
    <result column="car_engine_capacity" property="carEngineCapacity" jdbcType="VARCHAR" />
    <result column="car_transmission" property="carTransmission" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
 	car_brand_first_letter,car_brand_name,car_brand_icon_pic_name
  </sql>
  <sql id="Marked_Base_Column_List" >
 	b.car_brand_first_letter,b.car_brand_name,car_brand_icon_pic_name
  </sql>
  <sql id="Blob_Column_List" >
    car_brand_icon
  </sql>
  <sql id="Brand_Type_Column_List" >
 	car_brand_type_id,car_first_letter,car_brand_name,car_model_series,car_model_name,car_type_series,car_type_name,car_made_country
 	,car_technology,car_vehicle_class,car_engine_capacity,car_transmission
  </sql>
   <sql id="Marked_Brand_Type_Column_List" >
 	t.car_brand_type_id,t.car_first_letter,t.car_brand_name,t.car_model_series,t.car_model_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
    from ezc_car_brand
    where car_brand_name = #{carBrandName,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="ResultMapWithBLOBs" >
    select 
    <include refid="Base_Column_List" />
    
 	from ezc_car_brand
 	where car_brand_icon is not null
  </select>
  
   <select id="selectAllWithBrandType" resultMap="ResultMapWithBLOBsAndBrandTypes" >
    select 
    <include refid="Marked_Base_Column_List" />,
    
    <include refid="Marked_Brand_Type_Column_List" />
 	from ezc_car_brand b
 	left join  ezc_car_brand_type t
 	on
 	b.car_brand_name = t.car_brand_name
 	where
 	b.car_brand_icon is not null
 	
 	group by t.car_model_name
 	
 	order by b.car_brand_first_letter asc
  </select>
  
  <insert id="insertSelective" parameterType="com.gred.easy_car.web.entity.CarBrand" >
    insert into ezc_car_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
     
      <if test="carBrandName != null" >
        car_brand_name,
      </if>
      <if test="carBrandIcon != null" >
        car_brand_icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      
      <if test="carBrandName != null" >
        #{carBrandName,jdbcType=VARCHAR},
      </if>
      <if test="carBrandIcon != null" >
        #{carBrandIcon,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gred.easy_car.web.entity.CarBrand" >
    update ezc_car_brand
    <set >
      
      <if test="carBrandIconPicName != null" >
        car_brand_icon_pic_name = #{carBrandIconPicName,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where car_brand_name = #{carBrandName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gred.easy_car.web.entity.CarBrand" >
    update ezc_car_brand
    set  car_brand_icon = #{carBrandIcon,jdbcType=LONGVARBINARY}
    where car_brand_name = #{carBrandName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gred.easy_car.web.entity.CarBrand" >
    update ezc_car_brand
    set car_brand_name = #{carBrandName,jdbcType=VARCHAR}
    where car_brand_id = #{carBrandId,jdbcType=VARCHAR}
  </update>
</mapper>