<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gred.easy_car.web.mapper.CouponsDiscountMapper" >
  <resultMap id="BaseResultMap" type="com.gred.easy_car.web.entity.CouponsDiscount" >
    <id column="coupon_id" property="couponId" jdbcType="VARCHAR" />
    <result column="coupon_code" property="couponCode" jdbcType="VARCHAR" />
    <result column="coupon_create_date" property="couponCreateDate" jdbcType="VARCHAR" />
    <result column="coupon_expiry_date" property="couponExpiryDate" jdbcType="VARCHAR" />
    <result column="coupon_nominal_value" property="couponNominalValue" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    coupon_id, coupon_code, coupon_create_date, coupon_expiry_date, coupon_nominal_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ezc_coupons_discount
    where coupon_id = #{couponId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ezc_coupons_discount
    where coupon_id = #{couponId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gred.easy_car.web.entity.CouponsDiscount" >
    insert into ezc_coupons_discount (coupon_id, coupon_code, coupon_create_date, 
      coupon_expiry_date, coupon_nominal_value)
    values (#{couponId,jdbcType=VARCHAR}, #{couponCode,jdbcType=VARCHAR}, #{couponCreateDate,jdbcType=VARCHAR}, 
      #{couponExpiryDate,jdbcType=VARCHAR}, #{couponNominalValue,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gred.easy_car.web.entity.CouponsDiscount" >
    insert into ezc_coupons_discount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="couponCode != null" >
        coupon_code,
      </if>
      <if test="couponCreateDate != null" >
        coupon_create_date,
      </if>
      <if test="couponExpiryDate != null" >
        coupon_expiry_date,
      </if>
      <if test="couponNominalValue != null" >
        coupon_nominal_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="couponCode != null" >
        #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="couponCreateDate != null" >
        #{couponCreateDate,jdbcType=VARCHAR},
      </if>
      <if test="couponExpiryDate != null" >
        #{couponExpiryDate,jdbcType=VARCHAR},
      </if>
      <if test="couponNominalValue != null" >
        #{couponNominalValue,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gred.easy_car.web.entity.CouponsDiscount" >
    update ezc_coupons_discount
    <set >
      <if test="couponCode != null" >
        coupon_code = #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="couponCreateDate != null" >
        coupon_create_date = #{couponCreateDate,jdbcType=VARCHAR},
      </if>
      <if test="couponExpiryDate != null" >
        coupon_expiry_date = #{couponExpiryDate,jdbcType=VARCHAR},
      </if>
      <if test="couponNominalValue != null" >
        coupon_nominal_value = #{couponNominalValue,jdbcType=INTEGER},
      </if>
    </set>
    where coupon_id = #{couponId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gred.easy_car.web.entity.CouponsDiscount" >
    update ezc_coupons_discount
    set coupon_code = #{couponCode,jdbcType=VARCHAR},
      coupon_create_date = #{couponCreateDate,jdbcType=VARCHAR},
      coupon_expiry_date = #{couponExpiryDate,jdbcType=VARCHAR},
      coupon_nominal_value = #{couponNominalValue,jdbcType=INTEGER}
    where coupon_id = #{couponId,jdbcType=VARCHAR}
  </update>
</mapper>